/* reset, värit, fontit, yleiset elementtien tyylit */

:root {
    --bg: #fefefe;
    --grey: #353535;
    --lightgrey: #6b7280;
    --text: #353535;
    --muted: #9ca3af;
    --accent: #60a5fa;
    --ring: #93c5fd;
    --rust: #BB6653;
    --red: #F08B51;
    --peach: #FDE8D9;
    --orange: #EDA35A;
    --green: #CADBAE;
    --lime: #E1E9C9;
    --white: #ffffff;
    }
    
    
    /* Reset + base */
    *, *::before, *::after {
    box-sizing: border-box;
    }
    
    
    body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.5;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    
    a {
    color: inherit;
    text-decoration: none;
    }
    
    
    .container {
    max-width: 100%;
    margin-inline: auto;
    padding: 0 1rem;
    }

    .section {
    max-width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20vh;
    }

    h1 {
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.2;
    }