/* reset, värit, fontit, yleiset elementtien tyylit */

:root {
    --bg: #Fbfbfb;
    --bgDark: #F6F4F1;
    --grey: #353535;
    --lightgrey: #6b7280;
    --text: #353535;
    --muted: #9ca3af;
    --rust: #BB6653;
    --red: #F08B51;
    --peach: #FDE8D9;
    --orange: #EDA35A;
    --green: #649263;
    --lime: #E1E9C9;
    --white: #ffffff;
}


/* Reset + base */
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Montserrat', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, "Noto Sans", sans-serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.5;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    color: inherit;
    text-decoration: none;
}


.container {
    max-width: 100%;
    margin-inline: auto;
    padding: 0 1rem;
}

.section {
    max-width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 15vh;
    min-height: 70vh;
}

.section-next {
    max-width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    min-height: 40vh;
}

@media (min-width: 1200px) {
    .section-next {
        min-height: 30vh;
    }
}


.darkBg {
    background-color: var(--bgDark);
}

.lightBg {
    background-color: var(--bg);
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 1.2;
}
