@media (max-width: 800px) {

    .section {
        max-width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 10vh;
        min-height: 90vh;
        }

    .hero-content {
      flex-direction: column; /* teksti päälle, kuva alle */
    }

    .hero-image {
        max-width: 80vw; /* kuva pysyy pienehkönä */
      }
}