/* apuluokat: .text-center, .hidden, marginit, paddings */

/* Apuluokat */
.text-center {
    text-align: center;
  }
  
  .hidden {
    display: none !important;
  }

  /* Etusivu */
  .hero-content {
    display: flex;
    flex-direction: row; /* teksti vasemmalle, kuva oikealle */
    align-items: center;
    gap: 5rem;
    font-size: 1.1rem;
    padding-bottom: 5vw;
  }

  .hero-text p {
    line-height: 2;
    padding-top: 1.3rem;
  }

  .hero-content b{
    font-weight: 500;
}

.hero-content h4 {
  font-size: 1rem;
  padding-left: 2rem;
  color: var(--grey);
  font-weight: 400;
  margin-top: 2rem;
  line-height: 2;
}
  
  .hero-image {
    max-width: 35vw; /* kuva pysyy pienehkönä */
    flex-shrink: 0;   /* ei kutistu liikaa */
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: contain;
    display: block;
  }

  .hero-image img:hover {
    filter: hue-rotate(300deg);
  }

  @keyframes scroll-arrow-bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
  }
