@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


body {
    background-color: #EEEDEB;
    font-size: 12px;
    color: #393939;
    font-family: Helvetica, Arial, "sans-serif";
    letter-spacing: 0.8;
    text-align: justify;
    height: 100%;
    margin: 0;
}

    /* navigaatio */
    .navigaatio_pages {
        background-color: #465D55;
        position: fixed;
        top: 0;
        z-index: 1000;
        transition: top 0.3s;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        height: 70px;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    /* navigaatio, sosiaalinen media */
    .nav_sosmedia {
        float: left;
        width: 30%;
        display: block;
        padding-left: 7%;
    }

    .nav_sosmedia ul {
        padding: 0;
        list-style: none;
    }

    .nav_sosmedia li {
        display: inline;
        height: 30px;
    }

    .nav_sosmedia a {
        font-size: 18px;
        padding: 10px 14px;
        text-align: center;
        transition: .5s;
        color: #ECCEC3;
    }

    .nav_sosmedia a:hover {
        background-color: #aeb2a5;
        border-radius: 50%;
        color: #465D55;
    }

    /* navigaatio, pieni logo */
    .nav_logo {
        float: left;
        width: 30%;
        padding-left: 5%;
    }

    .nav_logo img {
        height: 40px;
    }

    /* navigaatio, menu */
    .nav_linkit {
        float: right;
        width: 40%;
        margin: 0 auto;
        text-align: center;
    }

    .nav_linkit a {
        color: #F4C67B;
        text-decoration: none;
        font-weight: lighter;
        text-transform: uppercase;
        font-size: 13px;
        margin: 10px 10px;
        padding: 10px 10px;
        position: relative;
        z-index: 0;
        cursor: pointer;
    }

    .nav_linkit a:hover {
        opacity: 0.8;
    }

    .nav_animaatio a:before,
    .nav_animaatio a:after {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 1px;
        background: #aeb2a5;
        content: "";
        opacity: 0;
        transition: all 0.3s;
    }

    .nav_animaatio a:before {
        top: 0px;
        transform: translateY(10px);
    }

    .nav_animaatio a:after {
        bottom: 0px;
        transform: translateY(-10px);
    }

    .nav_animaatio a:hover:before,
    .nav_animaatio a:hover:after {
        opacity: 1;
        transform: translateY(0px);
    }

    .kehys {
        margin-top: 130px;
    }

    /* sisällön kehys */
    .sisalto {
        margin: auto;
        width: 60%;
        min-height: 80vh;
    }


    /* typografia */

    h1 {
        font-size: 20px;
        color: #D2BBB1;
        text-transform: uppercase;
        font-weight: lighter;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 15px;
        color: #D2BBB1;
        text-transform: uppercase;
        font-weight: lighter;
        margin-bottom: 10px;
    }


    /* kuvat */

    .galleria {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
    }

    .sisalto img {
        border-radius: 4px;
        max-height: 60vh;
        margin: 5px;
    }


    /* footer */

    .footer {
        width: 100%;
        font-size: 12px;
        text-align: center;
        margin: 70px 0px 20px 0px;
    }

