@import url("fontawesome/css/fontawesome.css");
@import url("fontawesome/css/brands.css");
@import url("fontawesome/css/solid.css");

/*#region --- Body */
body {
    background-color: #EEEDEB;
    font-size: 14px;
    color: #454344;
    font-family: 'Open+Sans', Helvetica;
    font-weight: 300;
    letter-spacing: 0.8;
    text-align: left;
    line-height: 1.5;
    height: 100%;
    width: 100%;
    margin: 0;
}

/*#endregion*/

/*#region --- Navigaatio */
.navigaatio_pages {
    background-color: #465D55;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: top 0.3s;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    height: 70px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/*#endregion*/

/*#region --- Navigaatio, sosiaalinen media */
.nav_sosmedia {
    float: left;
    width: 30%;
    display: block;
    padding-left: 7%;
}

.nav_sosmedia ul {
    padding: 0;
    list-style: none;
}

.nav_sosmedia li {
    display: inline;
    height: 30px;
}

.nav_sosmedia a {
    font-size: 18px;
    padding: 10px 14px;
    text-align: center;
    transition: .5s;
    color: #ECCEC3;
}

.nav_sosmedia a:hover {
    background-color: #aeb2a5;
    border-radius: 50%;
    color: #465D55;
}

/*#endregion*/

/*#region --- Navigaatio, pieni logo */
.nav_logo {
    float: left;
    width: 30%;
    padding-left: 5%;
    padding-top: 15px;
}

.nav_logo img {
    height: 40px;
}

/*#endregion*/

/*#region --- Navigaatio, menu */
.nav_linkit {
    float: right;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.nav_linkit a {
    color: #F4C67B;
    text-decoration: none;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 13px;
    margin: 10px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.nav_linkit a:hover {
    opacity: 0.8;
}

.nav_animaatio a:before,
.nav_animaatio a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #aeb2a5;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.nav_animaatio a:before {
    top: 0px;
    transform: translateY(10px);
}

.nav_animaatio a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.nav_animaatio a:hover:before,
.nav_animaatio a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/*#endregion*/

/*#region --- Kehys ja Sisältö */
.kehys {
    margin-top: 130px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* sisällön kehys */
.sisalto {
    float: left;
    margin: auto;
    width: 80%;
    min-height: 80vh;
    align-items: center;
}

.sisalto_contact {
    float: left;
    margin: auto;
    width: 80%;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row {
    width: 100%;
    flex-direction: row;
}

.contact_puolikkaat {
    width: 30%;
    float: left;
    text-align: center;
}

.nappi {
    width: 150px;
    border-radius: 25px;
    background-color: #ECCEC3;
    padding: 10px;
    font-family: 'Poppins', Helvetica;
    color: #454344;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.nappi:hover {
    background-color: #AEB2A5;
    color: white;
}

.nappilevea {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*#endregion*/

/*#region --- About me */

.kehys_aboutme {
    margin-top: 60px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.sisalto_aboutme {
    display: flex;
    flex-direction: row;
    width: 80%;
}

/* about me */
.aboutme_txt {
    margin-top: 80px;
    float: left;
    width: 100%;
}

.aboutme_kuva {
    float: left;
    width: 40%;
    margin-top: 0;
    margin-left: 40px;
    text-align: center;
}

.aboutme_kuva img {
    width: 100%;
    border-radius: 0 0 60px 60px;
    margin-bottom: 30px;
}

.aboutme_puolikkaat {
    width: 50%;
    float: left;
    text-align: center;
    background-color: #AEB2A5;
    border-radius: 30px;
    font-size: 12px;
    padding-left: 15x;
    padding-right: 15px;
    padding-bottom: 20px;
    margin: 10px;
}

/*#endregion*/

/*#region --- Typografia */

/* h1: mitä tehty */
h1 {
    font-family: 'Quicksand', Helvetica;
    font-size: 25px;
    color: #465D55;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
}

/* h2: asiakas, tekopaikka, aihe
        esim. Yritys Oy, Koulun harj.työ, Opinnaytetyö*/
h2 {
    font-size: 16px;
    color: #D2BBB1;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

/* h3: sisältöjen erottelut */
h3 {
    font-size: 15px;
    color: #465D55;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 40px;
}

h4 {
    font-size: 12px;
    color: #465D55;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 20px;
}

.sisalto p {
    width: 90%;
}

.sisalto a {
    color: #D2BBB1;
    text-decoration: none;
}

.sisalto_aboutme a {
    color: #D2BBB1;
    text-decoration: none;
    font-size: 10px;
}

.sisalto a:hover {
    color: #D2BBB1;
    text-decoration: underline;
}

.sisalto_aboutme a:hover {
    color: #D2BBB1;
    text-decoration: underline;
}

/*#endregion*/

/*#region --- Kuvat ja video */

.galleria {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.galleria img {
    border-radius: 4px;
    max-height: 80vh;
    width: auto;
    margin: 5px;
    cursor: pointer;
}

.galleria2 {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.galleria2 img {
    border-radius: 4px;
    max-height: 80vh;
    width: auto;
    margin: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.galleria2 img:hover {
    opacity: 0.8;
}

.galleria p {
    text-align: center;
    margin-bottom: 30px;
}

.video-container {
    width: 700px;
    height: 400px;
}

/*#endregion*/

/*#region --- Previous & Next -buttonien kehys */

.previousnextbutton {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
}

.previousbutton {
    float: left;
    padding-left: 10%;
}

.nextbutton {
    float: right;
}

/*#endregion*/

/*#region --- PreviousNext, edellinen-button */
#custom-button-left {
    width: 150px;
    position: relative;
    border-radius: 25px;
    background-color: #ECCEC3;
    padding: 10px 20px;
    font-family: 'Poppins', Helvetica;
    color: #454344;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    text-align: right;
    transition: 0.3s;
}

#custom-button-left:hover {
    background-color: #AEB2A5;
    color: white;
}

#custom-button-left i {
    position: absolute;
    font-size: 13px;
    font-weight: 300;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: 0.3s;
    opacity: 0;
}

#custom-button-left:hover i {
    opacity: 1;
    transform: translateX(10px) translateY(-50%);
}

/*#endregion*/

/*#region --- PreviousNext, seuraava-button */
#custom-button-right {
    width: 150px;
    position: relative;
    border-radius: 25px;
    background-color: #ECCEC3;
    padding: 10px 20px;
    font-family: 'Poppins', Helvetica;
    color: #454344;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: 0.3s;
}

#custom-button-right:hover {
    background-color: #AEB2A5;
    color: white;
}

#custom-button-right i {
    position: absolute;
    font-size: 13px;
    font-weight: 300;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: 0.3s;
    opacity: 0;
}

#custom-button-right:hover i {
    opacity: 1;
    transform: translateX(-10px) translateY(-50%);
}

/*#endregion*/

/*#region --- Footer */
.footer {
    font-family: 'Poppins', Arial;
    width: 100%;
    font-size: 9px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.8;
    background-color: #465D55;
    max-height: 40vh;
    margin: 0;
    margin-top: 60px;
    color: #EEEDEB;
    padding: 20px 0px 20px 0px;
}

/*#endregion*/

/*#region --- Footer, sosiaalinen media */
.footer_sosmedia {
    float: left;
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
}

.footer_sosmedia ul {
    padding: 0;
    list-style: none;
}

.footer_sosmedia li {
    display: inline;
    padding-left: 8px;
}

.footer_sosmedia a {
    font-size: 18px;
    padding: 10px 14px;
    text-align: center;
    transition: .5s;
    background-color: #AEB2A5;
    border-radius: 50%;
    color: #465D55;
}

.footer_sosmedia a:hover {
    color: #ECCEC3;
    background-color: #465D55;
    opacity: 0.8;
}

/*#endregion*/

/*#region --- Kielenvaihto-nappi */
#vaihdaNappi {
    float: right;
    border-radius: 25px;
    background-color: #ECCEC3;
    padding: 10px 20px;
    font-family: 'Poppins', Helvetica;
    color: #454344;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#vaihdaNappi:hover {
    background-color: #AEB2A5;
    color: white;
}

.nayta {
    display: block;
}

.piilossa {
    display: none;
}

/*#endregion*/

/*#region --- Slideshow */
.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    top: 20px;
}

.slideshow-container a {
    color: white;
    text-decoration: none;
}

.slide {
    display: none;
    animation: fade 0.4s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.slide img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0px 10px 10px 0px;
    user-select: none;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
    border-radius: 10px 0px 0px 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(70, 93, 85, 0.5);
}

.dots-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 13px;
    width: 13px;
    margin: 0 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

/*#endregion*/

/*#region --- Modaalit */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    cursor: pointer;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-height: 100vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*#endregion*/

/*#region --- Lomake */

form {
    width: 60%;
    margin: auto;
}

label {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Quicksand', Helvetica;
    font-weight: 400;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Open+Sans', Helvetica;
    font-weight: 300;
}

textarea {
    height: 100px;
}

input[type=submit] {
    width: 40%;
    background-color: #D2BBB1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Quicksand', Helvetica;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
}

input[type=submit]:hover {
    opacity: 0.9;
    color: #454344;
}

/*#endregion*/

/* RESPONSIIVISUUS ************************************/

@media only screen and (max-width: 760px) {

    /*#region --- kehys, sisältö */
    .kehys {
        width: 90%;
    }

    /* sisällön kehys */
    .sisalto {
        width: 100%;
        min-height: 80vh;
    }

    /*#endregion*/

    /*#region --- navigaatio */
    .navigaatio_pages {
        height: 90px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_sosmedia {
        height: 0;
        visibility: hidden;
    }

    .nav_sosmedia li {
        height: 0;
    }

    .nav_sosmedia a {
        font-size: 13px;
        padding: 0;
    }

    .nav_logo {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .nav_logo img {
        height: 30px;
    }

    /* navigaation linkit */
    .nav_linkit {
        flex-direction: row;
        width: 100%;
        padding-bottom: 5px;
    }

    .nav_linkit a {
        font-size: 13px;
        margin: 0px 10px;
        padding: 5px 10px;
    }

    /*#endregion*/

    /*#region --- tekstit, kuvat, video */
    .sisalto p {
        width: 80%;
    }

    /* portfolion kuvat */
    .galleria img {
        width: 100%;
    }

    .modal-content {
        width: 100%;
    }

    .video-container {
        width: 400px;
        height: 200px;
    }

    /*#endregion*/

    /*#region --- edellinen ja seuraava -buttonit */
    .previousnextbutton {
        width: 95%;
    }

    .previousbutton {
        float: left;
        padding-left: 5%;
    }

    /*#endregion*/

    /*#region --- footer */
    .footer {
        padding-bottom: 10px;
    }

    .footer_sosmedia a {
        font-size: 13px;
        padding: 5px 7px;
    }

    /*#endregion*/
}